@import "./variables";

// Title Mixin
@mixin title-style {
    text-transform: uppercase;
    font-family: $main-font;
    color: $sky-blue;
    letter-spacing: 2px;
    font-weight: 100;
}

@mixin list-hover {
    background-color: #d1fcff42;
    color: rgb(211, 198, 125);
}

@mixin item-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 3px 0px 3px 0px;

    .item-image {
        height: 50px;
        width: 50px;
    }
    .item-quantity {
        margin: 0px 0px 0px 5px;
        font-size: 26px;
    }
    .x-marker {
        font-size: 12px;
    }
    .item-name {
        margin: 0px 0px 0px 10px;
        font-size: 18px;
    }
}

@mixin loader {
    margin: auto;
    border: 16px solid $gold;
    border-top: 16px solid $sky-blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
