@import "./variables";

// Title Mixin
@mixin title-style {
    text-transform: uppercase;
    font-family: $main-font;
    color: $sky-blue;
    letter-spacing: 2px;
    font-weight: 100;
}

@mixin list-hover {
    background-color: #d1fcff42;
    color: rgb(211, 198, 125);
}

@mixin item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 50%;
    padding-left: 5px;

    .item-img {
        width: 40px;
        height: 40px;
    }

    .item-quantity {
        font-size: 1.5em;
        margin: 0px;
        .x-marker {
            font-size: 0.5em;
        }
    }
    .item-name {
        font-size: 1em;
        margin: 0px;
    }
    @media (max-width: 1200px) and (min-width: 500px) {
        flex: 1 1 25%;
    }
}

@mixin loader {
    margin: auto;
    border: 16px solid $gold;
    border-top: 16px solid $sky-blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
