// Screen Width
$max-width-large: 1920px;
$min-width: 475px;

// Colors
$sky-blue: #d1fcff;
$background-color: #1f2328;
$nav-background: #2c333a;
$faded-brown: #473c2a46;
$gold: #c9ad7a;

// Font Family
$ff-font: ff-font;
$main-font: staatliches;

@font-face {
  font-family: "ff-font";
  src: url("../fonts/OPTIEngeEtienne.otf") format("opentype");
}
@font-face {
  font-family: "staatliches";
  src: url("../fonts/Staatliches-Regular.ttf") format("truetype");
}
