@import "../../../../util/variables";

.material-calculations {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 1 65%;
    height: 80%;
    justify-content: space-between;

    span {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1;
        height: 100%;
        justify-content: center;
        align-items: center;

        .calculation-title {
            text-decoration: underline;
            text-align: center;
            margin: 0rem;
        }
        .calculation-value {
            h4 {
                color: $gold;
                margin: 0rem;
            }
        }
    }
    .arrow-svg {
        width: 3rem;

        &:hover {
            cursor: pointer;
        }
    }
}
#city-icons {
    display: flex;
    flex-direction: row;
}
.hq-img {
    height: 30px;
    width: 18px;
}
