@import "../../util/variables";
@import "../../util/mixins";

#home-page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    #title {
        font-size: 3.2em;
        @include title-style;
    }
    #disciples-title {
        @include title-style;
        margin-bottom: 0px;
    }

    #disciples-container {
        height: 500px;
        background-color: $faded-brown;
        border: 1px solid $sky-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

#icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;

    .disciples-li {
        list-style: none;
        flex: 24%;
        text-decoration: none;

        .disciples-icon {
            cursor: pointer;
        }

        p {
            @include title-style;
            letter-spacing: 0.5px;
            font-size: 1.3em;
            margin-top: 0px;
        }
    }
}
