@import "../../util/mixins.scss";

#disciples-recipe-list {
    width: 85%;
    margin: auto;
}
#title {
    @include title-style;
    text-align: center;
    font-size: 62px;
}
#disciple-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media (max-width: 850px) {
    #disciples-recipe-list {
        width: 100%;
    }
}
