@import "../../../util/variables";

#pagination-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0;

    button {
        list-style-type: none;
        cursor: pointer;
        color: $sky-blue;
        font-family: ff-font;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $sky-blue;
        margin: 0px 5px 0px 5px;
        padding: 3px;
    }

    .button-disabled {
        color: $gold;
        cursor: default;
        border-bottom: none;
    }
}
