@import "../../../../util/variables";
@import "../../../../util/mixins";

.prices-container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 200px;
    width: 100%;
    background-color: $dark-gray;
    border-top: 2px solid $dark-blue;
    align-items: center;
}
.last-updated {
    @include title-style;
    letter-spacing: 1px;
}
.listing-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    width: 80%;
    align-items: flex-end;
    overflow-y: auto;
    justify-content: flex-start;

    thead {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
    tbody {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }
    td,
    th {
        flex: 1 1 20%;
        font-weight: 100;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.table-data-row,
.table-head-row,
.table-data-row-chosen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}
.table-data-row,
.table-data-row-chosen {
    background-color: $dark-blue;
    min-height: 50px;
    max-height: 50px;
    border-top: 1px solid $sky-blue;

    &:first-child {
        border-bottom: none;
    }
    &:last-child {
        border-bottom: 1px solid $sky-blue;
    }

    .table-border {
        width: 100%;
        border-left: 1px solid $sky-blue;
    }
}

.table-data-row-chosen {
    background-color: $faded-brown;
    color: $gold;
}

.spinning-loader {
    @include loader;
}
